### Java ###

# Игнорировать все файлы в каталоге out/
out/
# Игнорировать все файлы в каталоге .idea/
.idea/

# Исключить все файлы с расширением .class
*.class
# Исключить все файлы с расширением .iml
*.iml

/src/com/startjava/lesson_2_3_4/array/
